<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-lg fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Sign up form</v-toolbar-title>
                <v-spacer></v-spacer>
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5GC6x6A8wnfxXjHqOypx_PtG2zO50KhcbHe5_f7P_cAgREeHf-g" height="50" width="50" alt="">
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-validate="'required|email'"
                    v-model="email"
                    :error-messages="errors.collect('email')"
                    label="E-mail"
                    data-vv-name="email"
                    required></v-text-field>
                  <v-text-field  name="password" label="parent.$t('label.firstName')" id="password" type="password" required></v-text-field>
                  <v-text-field  name="password_repeat" label="Repeat Password *" id="password_repeat" type="text" required></v-text-field>
                </v-form>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-text>
                <v-form>
                  <v-text-field name="first_name" label="First Name" id="first_name" type="text"></v-text-field>
                  <v-text-field  name="last_name" label="Last Name" id="last_name" type="text"></v-text-field>
                  <v-text-field  name="street" label="Street" id="street" type="text"></v-text-field>
                  <v-layout row>
                  <v-flex xs3>
                    <v-text-field  name="zip" label="ZIP" id="zip" type="text"></v-text-field>
                  </v-flex>
                  <v-flex xs9>
                    <v-text-field  name="city" label="City" id="city" type="text"></v-text-field>
                  </v-flex>
                  </v-layout>
                  <v-text-field  name="country" label="Country" id="country" type="text"></v-text-field>
                  <v-select
                  :items="items"
                  label="Language"></v-select>
                  <v-radio-group label="Gender">
                    <v-radio label="Male" value="male"  key="male"/>
                    <v-radio label="Female" value="female" key="female"/>
                  </v-radio-group>
                  <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent lazy full-width width="290px">
                    <v-text-field slot="activator" v-model="date" label="Birthday" prepend-icon="event" readonly></v-text-field>
                    <v-date-picker v-model="date" scrollable
                      :max="new Date().toISOString().substr(0, 10)"
                      min="1950-01-01">
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                      <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary">Sign up</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import {} from 'vuex'

export default {
  name: 'Registration'
}
</script>
